:root {
  --primary-blue: #4A90E2;
  --secondary-green: #50E3C2;
  --background: #F7F9FC;
  --text: #1F2933;
  --secondary-text: #6B7280;
  --hint-text: #9CA3AF;
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF0000;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
    background-color: lightgray;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
    background-color: lightblue;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    background-color: lightgray;
  }
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  width: 100%;
}

.animatedSection {
  color: var(--primary-blue);
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  width: 80vw;
  margin: auto;
  animation: fadeInScale 3s ease-in-out infinite;
}

.componentButtons {
  max-width: 80vw;
  background-color: var(--secondary-green);
  padding: 0.5rem;
  border-radius: 8px 8px 0px 0px;

  display: flex;
  justify-content: center;

  button {
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }
}

.componentArea {
  background-color: var(--primary-blue);
  padding: 1.5rem;
  border-radius: 0px 0px 8px 8px;
}
